#header button, #header select {
	height: 2em;
}
#github {
	float: right;
}
button#start {
	width: 6em;
	height: 1.6em;
	font-size: 1.5em;
	border-radius: 0.5em;
}
#start:not(:disabled) {
	color: white;
	background-color: green;
}
#start.on:not(:disabled) {
	color: white;
	background-color: red;
}
#interim {
	font-size: 1.4em;
	color: gray;
}
button {
	cursor: pointer;
}
#error {
	font-weight: bold;
	color: red;
}
#error:before {
	font-weight: normal;
	content: "Error: ";
}
#error:after {
	font-weight: normal;
	color: black;
	content: " (using Chromium? Try Chrome)";
}
#text {
	width: 100%;
	height: 20em;
	font-family: consolas;
	font-size: 1.2em;
}
#help .key {
	font-weight: bold;
	color: #006;
}

.buttonset {
	text-align: center;
}
button.blue {
	width: 6em;
	height: 2em;
	color: white;
	background-color: blue;
	font-size: 1.1em;
	border-radius: 0.5em;
}
.page textarea {
	width: 100%;
}
.page h1 {
	text-align: center;
}
